html,
body {
  margin: 0;
  height: 100%;
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/071/786/original/abstract-hexagon-pattern-light-green-background-medical-and-science-concept-free-vector.jpg");
}
